.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 180px;
  margin: 0 auto;
}

.square {
  width: 60px;
  height: 60px;
  font-size: 24px;
}

#reset {
  grid-column: span 3;
  margin-top: 20px;
  justify-self: center;
}
